@import 'base';
@import 'preloader';
@import 'navbar';
@import 'header';
@import 'about';
@import 'experience';
@import 'contact';
@import 'footer';
@import 'projects';

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: color(primary) !important;
    position: relative;
}